<p>I'm an undergraduate student of computer science at Indian Institute of Technology Kanpur.</p>
<!-- <h2><span class="fa fa-flask fa-lg main-list-item-icon"></span> Projects</h2> -->

<hr />

<ul class="fa-ul main-list">
  <li class="fa-li main-list">
    <a href="https://github.com/irfanhudda">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
    </a>
  </li>
  <li class="fa-li main-list">
    <a href="https://in.linkedin.com/in/irfanhudda">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    </a>
  </li>
    <li class="fa-li main-list">
    <a href="mailto: irfanhudda@gmail.com">
        <span class="fa fa-envelope-o fa-lg main-list-item-icon"></span>
    </a>
  </li>
</ul>